/**
 TODO(you): Write the CSS necessary to complete HW1!
*/

.head
{
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/header.jpg);
    background-size : cover ;
    height : 500px ;
    position: relative;
}

.head .headtext {
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: normal;
    color: white;
    width: 780px;
    text-align: center;
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.circle
{
    background-image: url(../images/vrk.png);
    width: 100px;
    height: 100px;
    border-radius: 100% ;
    margin: auto;
    border: 1px  solid  white ;
    position: relative;
    top: -50px;
}

.auther
{
    font-family: "Source Sans Pro", sans-serif ;
    font-size: 18px;
    font-weight: bold;
    color: rgb(51,51,51);
    line-height: 24px;
    text-align: center;
    position: relative;
    top: -50px;
}

.auther .update
{
    font-style: italic;
}

.auther .update .line
{
    border-bottom: 2px #e6e6e6 solid;
    padding-bottom: 10px;
}

.flex-container
{
    display: inline-flex ;
    border: 2px solid black;
    height: 750px ;
    margin: auto;
    flex-direction: column ;
    width: 66.67% ;
}

.flex-container2
{
    display: inline-flex ;
    border: 2px solid black;
    height: 750px ;
    width: 40px ;
    flex-direction: column;
}

.flex-item
{
    border-radius: 10px ;
    /*flex-grow: 1 ;*/
    background-color: purple ;
    margin : 5px ;
    height: 60px ;
}

.flex-item2
{
    border-radius: 10px ;
    background-color: purple ;
    margin : 5px ;
    height: 20px;
}

.flex-item3
{
    border-radius: 10px ;
    background-color: purple ;
    margin : 5px ;
    height: 120px;
}

.test
{
    display: inline-block;
    border: 2px solid black;
    height: 750px ;
    margin: auto;
    width: 40px;
    vertical-align: top;
}

.body-head
{
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    text-align: left;
}

.address
{
    color: #42b4d6;
    text-align: left;
}

.Paragraphs
{
    font-family: "Source Sans Pro", serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51, 51, 51);
    text-align: left;
}

.Recommendation
{

}