/**
 TODO(you): Add CSS for the list that you create yourself!
*/
.head
{
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/kamenrider-zi-o.jpg);
    background-size : cover ;
    height : 500px ;
    position: relative;
}

.head .headtext {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: normal;
    color: white;
    width: 780px;
    text-align: center;
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.circle
{
    background-image: url(../images/jean.jpg);
    background-position: center;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    border-radius: 25%;
    margin: auto;
    border: 1px  solid  white ;
    position: relative;
    top: -50px;
}

.main
{
    text-align: center;
    /*position: relative;
    top: -50px;*/
    padding-bottom: 100px;
}

.flex-container
{
    display: flex ;
    /*border: 2px solid black;*/
    /*height: 750px ;*/
    margin: auto;
    flex-direction: row ;
    flex-wrap: wrap;
    width: 980px ;
    position: relative;
    align-content: flex-start;
    justify-content: center;
}

.flex-item-zio
{
    border-radius: 10px ;
    /*flex-grow: 1 ;*/
    background-color: purple ;
    margin : 5px ;
    height: 400px ;
    width: 550px ;
    background-image: url("../images/zi-o.jpg");
    background-size: cover;
}

.flex-item-geiz
{
    border-radius: 10px ;
    /*flex-grow: 1 ;*/
    background-color: purple ;
    margin : 5px ;
    height: 400px ;
    width: 550px ;
    background-image: url("../images/geiz.jpg");
    background-size: 100% 100%;
}

.flex-item-woz
{
    border-radius: 10px ;
    /*flex-grow: 1 ;*/
    background-color: purple ;
    margin : 5px ;
    height: 400px ;
    width: 550px ;
    background-image: url("../images/woz.jpg");
    background-size: 100% 100%;
}

.flex-item2
{
    border-radius: 10px ;
    /*flex-grow: 1 ;*/
    background-color: purple ;
    margin : 5px ;
    height: 400px ;
    width: 350px ;
    text-align: left;
}

.footer
{
    height: 200px;
    position: relative;
    margin-top: -100px;
    background-image: url("../images/title.jpg");
    background-size: 100% 100%;
    width: 400px;
    margin: auto;
}

.body-head
{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    text-align: left;
}

.Paragraphs
{
    font-family: 'Source Sans Pro', serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51, 51, 51);
    text-align: left;
    font-weight: bold;
}